.header{
    padding: 20px;
    padding-left: 0px;
    padding-top: 30px;
    background-color: gray;
    
}

/* creates a box around Samuel Riveros */
.header #name{
    padding: 10px;
    padding-left: 70px;
    background-color: aqua;
    display: inline;
    color: grey;
}

/* shifts the class navigation along with its contents to the right */
.header .navigation{
    float: right;
    text-align: center;
    padding: 10px;
}

/* displays the list of navigation horizotally rather than vertically and modifies font */
.header .navigation li, .navigation a{
    display: inline;
    color: aqua;
}

/* code used to display hero image on the site */
.hero_image{
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/hero_image.jpg");
}

/* used to place text on the bottom right of the image */
.intro_me{
    width: 360px;
    height: 55px;
    border: 1px solid;
    box-sizing:border-box;
    background-color: aqua;
    color: gray;
    position: absolute;
    bottom: 10px;
    right: 10px;
   
}

/* .title_card{
    width: 360px;
    height: 55px;
    border: 1px solid;
    box-sizing:border-box;  
} */

.title_card{
    width: 10%;
    height: 100px;
    float: left;
    background-color: red;
    text-align: right;
    padding-right: 20px;
    
}

p{
    width: 90%;
    height: 100px;
    float: right;
    border-left: 10px solid navy;
    align-items: center;
    
}

.work{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px 50px;
    align-items: center;
}

.gallery{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,10vw);
    grid-gap: 2px; */
    /* background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px */
}

/* .surf_images_item1,.led_wall_item2,.calculator_item3,.pastel_item4,.run_item5{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid 2px yellow;
    
}

.surf_images_item1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

.led_wall_item2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.calculator_item3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
}
.pastel_item4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
}
.run_item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
} */